body {
    margin: 0;
    padding: 0px;
    background: rgb(254, 234, 255);
    background: linear-gradient(90deg, rgba(246,204,249,1) 0%, rgb(244, 187, 250) 100%);
}

/* logo */
.font-title{font-family: 'Dancing Script', cursive;}
    
.logo-bg{
    background: linear-gradient(rgb(244, 17, 236), rgb(252, 67, 154));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* end logo */

/* menu */
.menu{
    list-style-type: none;
    display: flex;  
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.menu>a{color: rgb(244, 17, 236);padding: 10px;}
.hover:hover li{color: rgb(255, 255, 255) !important;}
.act {color: rgb(255, 255, 255) !important;font-weight: 600;}
/* end menu */

/* fondos */
.bg-white-soft{background: rgba(252, 229, 250, 0.3) !important;}
.bg-white-normal{background: rgba(252, 229, 250, 0.7) !important;}
.bg-purple-light{background-color: rgb(224, 174, 249) !important;}
.bg-purple-dark{background-color: rgb(94, 7, 138) !important;}
/* end fondos */

/* fuentes */
.ff-amatic{font-family: 'Amatic SC', cursive;}
.text-justify{text-align: justify !important;}
.text-purple {color: #a711ad !important;}
  
.text-pink{color: rgb(244, 17, 236);}

.tx-pink-soft{color: #fea8ff !important;}

.fs-xs{font-size: 17px !important;}
.fs-sm{font-size: 24px !important;}
.fs-md{font-size: 28px !important;}
.fs-lg{font-size: 32px !important;}
.fs-xl{font-size: 36px !important;}
.fs-xxl{font-size:48px !important;}
.fs-name{font-size:28px !important;}
    
.tx-shadow{text-shadow: 0.2px 0.1px 30px #de2be4 !important;}
.tx-shadow-white{text-shadow: 2px 2px 4px #ffffff !important;}
.tx-hover:hover{color: #e904f1 !important;transition: 0.5s;} /*hover image en campañas*/

/* end fuentes */

/* position */
.relative{position: relative;}
.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* end position */

/* footer */
.social{
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 0;
}
.bottom-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}
/* end footer */

/* seccion de campañas */

.wd-camp{width: 500px !important;}
.p-fixed{position: fixed;bottom: 0;background-color: #a711ad;}


/* end camp */

/* HOVER IMAGE */
.hoverwrap{
    position: relative; 
}

.hovercap {
  position: absolute; bottom: 0; 
  /* left: 0; */
  /* width:97%; padding: 5px; */
  /* margin-left: 8px; */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.hovercap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.hoverwrap:hover .hovercap {
  visibility: visible; opacity: 1;
}
/*  END HOVER IMAGE */

@media (max-width: 576px) {  
    .colores{
        background-color: red;
        padding: 0;
        margin: 0;
    }
    .hovercap {width:97%; padding: 5px;}
    .p-fixed{visibility: hidden;}
    .wdt{width: 270px;}
    .fs-sm{font-size: 20px !important;}
    .fs-xxl{font-size: 35px !important;}
    .fs-name{font-size: 35px !important;}
    /* .vh-center {position: absolute;top: 20%;left: 50%;transform: translate(-50%, -50%);} */
 } 

@media (min-width: 577px) and (max-width: 768px) { 
    .colores{
        background-color: rgb(255, 136, 0);
        padding: 0;
        margin: 0;
    }   
    .hovercap {width:97%; padding: 5px;  max-height: 160px;}
    .p-fixed{visibility: hidden;}
    .pad{padding: 0px 25px 0px 25px !important;}
    .wdt{width: 270px;}
    .fs-sm{font-size: 20px !important;}
    .fs-md{font-size: 38px !important;}
    .fs-xl{font-size: 36px !important; }
    .fs-name{font-size: 26px !important;}
    
 } 

 @media (min-width: 769px) and (max-width: 992px) {
    .colores{
        background-color: rgb(251, 255, 0);
        padding: 0;
        margin: 0;
    }
    .hovercap {width:93%; padding: 5px; max-height: 160px;}
    .p-fixed{visibility: hidden;}
    .pad{padding: 0px 15px 0px 15px !important;}
    .wdt{width: 350px;}
    .fs-sm{font-size: 20px !important;}
    .fs-md{font-size: 38px !important;}
    .fs-xl{font-size: 38px !important; }
    .fs-xxl{font-size: 35px !important;}
    .fs-name{font-size: 35px !important;}
    .container{width: 95% !important;}
    .vh-center {position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);}
    
 } 

 @media (min-width: 993px) and (max-width: 1200px) {  
    .colores{
        background-color: rgb(0, 255, 51);
        padding: 0;
        margin: 0;
    }
    .hovercap {width:95%; padding: 5px;}
    .p-fixed{visibility: hidden;}
    .pad{padding: 0px 55px 0px 55px !important;}
    .wdt{width: 350px; margin-top: 60px;}
    .fs-md{font-size: 48px !important;}
    .fs-xl{font-size: 36px !important; }
    .fs-xxl{font-size: 35px !important;}
    .fs-name{font-size: 30px !important;}
    .datos{visibility: hidden;}
 } 
 
 @media (min-width: 1201px) and (max-width: 7000px) {  
    .colores{
        background-color: rgb(0, 255, 251);
        padding: 0;
        margin: 0;
    }
    .hovercap {width:96.5%; padding: 5px;}
    .p-fixed{visibility: visible;}
    .pad{padding: 0px 85px 0px 85px !important;}
    .wdt{width: 350px; margin-top: 40px;}
    .fs-xs{font-size: 26px !important;}
    .fs-sm{font-size: 32px !important;}
    .fs-md{font-size: 48px !important;}
    .fs-xl{font-size: 46px !important; }
    .fs-xxl{font-size: 48px !important;}
    .fs-name{font-size: 30px !important;}
    .container{width: 90% !important;}
    .camp-wd{width: 600px !important;}
    .datos{visibility:hidden}


 } 
 
 

 /* 
 
 @media (min-width: 576px) { ... }
 @media (min-width: 768px) { ... }
 @media (min-width: 992px) { ... }
 @media (min-width: 1200px) { ... }
 @media (min-width: 1400px) { ... }
 
 */